:root {
  --gray: #888;
  --orange: rgb(255, 223, 164);
}

app-editor {
  margin: 10px 0;
  display: block;
}

app-editor > div[contenteditable] {
  border: 1px solid var(--gray);
  display: block;
  width: 100%;
  min-height: 2.5em;
  position: relative;
}

app-editor > div[contenteditable]:focus {
  outline: none;
}

app-editor > div[contenteditable] mark {
  background-color: var(--orange);
}

app-editor > div[contenteditable] p {
  margin: 0.5em;
}

app-editor > .toolbar {
  margin: 0;
  padding: 0;
  position: absolute;
}


app-editor > .toolbar > button {
  border: none;
  margin: 0;
  border-top: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  background-color: white;
}

app-editor > .toolbar > button:first-child {
  border-left: 1px solid var(--gray);
}

app-editor > .heading {
  display: grid;
  grid-template-columns: 1fr min-content;
}

app-editor > .heading > h5 {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

app-editor > .heading > button {
  border: none;
  margin: 0;
  border-top: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  background-color: white;
}

app-editor .comment-form {
  display: grid;
  width: auto;
  position: absolute;
  grid-template-columns: repeat(3, min-content);
  border: 1px solid var(--gray);
}

app-editor .comment-form button {
  border: none;
  background-color: #fff;
}