<div class="toolbar" ng-if="showToolbar">
  <button type="button" title="Ctrl+z" ng-disabled="undoStack.length === 1" ng-click="undo()">
    <i class="fa fa-undo" aria-hidden="true"></i>
  </button><button type="button" title="Shift+Ctrl+z" ng-disabled="redoStack.length === 0" ng-click="redo()">
    <i class="fa fa-repeat" aria-hidden="true"></i>
  </button><button type="button" title="comment">
    <i class="fa fa-comment-o" aria-hidden="true" ng-keydown="insertComment()"></i>
  </button>
</div>
<div class="heading">
  <h5 ng-bind="editorTitle"></h5>
  <button type="button" ng-click="closeEditor()">
    <i class="fa fa-times"></i>
  </button>
</div>
<div contenteditable
    ng-focus="handleFocus()"
    ng-paste="handlePaste($event)"
    ng-bind-html="text"></div>